@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Space Grotesk", sans-serif;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
